<hr>
<div class="row pl-lg-4">
    <a href="" data-toggle="modal" data-target="#{{modal_target}}" id="child-row" class="col-lg-9">{{scenario_name}}
    </a>
    <div class="col-lg-3">
        <span class="float-right badge badge-{{scenario_badge}}">{{scenario_result}}</span>
    </div>
    <div class="col-lg-9">
        {{#scenario_tags}}
            {{{.}}}
        {{/scenario_tags}}
    </div>
</div>